.search {
  display: block;
  height: 40px;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  margin-bottom: 32px;
  color: rgba(0, 0, 0, 0.25);
}

.search::placeholder {
  color: rgba(0, 0, 0, 0.25);
}
