@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
body {
  font-family: 'Inter', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 22px;
}
input {
  border: none;
  background-color: transparent;
}
.wrapper {
  max-width: 1010px;
  margin: 0 auto;
  padding: 13px 36px;
  display: flex;
  flex-direction: column;
}
